<div class="masonry-wrapper">
  <div class="masonry">
    <div class="masonry-item" *ngFor="let photo of photos" (click)="onSelect(photo)">
      <!-- <p>{{photo.name}}</p> -->
      <img [src]="sanitizer.bypassSecurityTrustUrl(photo.imgSrc)" alt="Dummy Image" class="masonry-content" data-toggle="modal" data-target="#exampleModalCenter">
    </div>
  </div>

  <div *ngIf="selectedPhoto">

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">{{selectedPhoto.name}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img [src]="sanitizer.bypassSecurityTrustUrl(selectedPhoto.imgSrc)" style="width: 600px; max-height: 600px;">
          </div>
          <div class="modal-footer">
            <a class="btn btn-primary" routerLink="/detail/{{selectedPhoto.id}}"  data-dismiss="modal">Edit</a>
            <button type="button" class="btn btn-secondary"  data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- <app-photo-detail [photo]="selectedPhoto"></app-photo-detail> -->

  <div class="masonry-footer">
    <p>Created with &#10084; with <a href="//w3bits.com/tools/masonry-generator/" target="_blank" rel="external noopener nofollow">CSS Masonry Generator</a></p>
  </div>
</div>